/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*, *::before, *::after {
    box-sizing: border-box;
  }
  
  * {
    margin: 0;
}
  
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    font-family: fantasy, Arial, sans-serif, 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
  
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}
  
input, button, textarea, select {
    font: inherit;
}
  
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}
  
#root, #__next {
    isolation: isolate;
}

/* basic frameworks */

body {
    background-image: url(/background.jpeg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

:root {
    --color-black: #232222;
    --color-darkgrey: #a9a9a9;
    --color-white: #f7f7f7;
    --color-blue: #2f8ccc;
    --color-lightBlue: #acced9;
    --color-invalid-red: #e3636f;
    --transparent-invalid-red: rgba(227, 99, 111, 0.25);
    --color-valid-green: #98a927;
    --transparent-valid-green: rgba(152, 169, 39, 0.25);
    --transparent-bg-color-lightBlue: rgba(138, 196, 233, .5);
}

.picture-section {
    flex: 1;
}


.both-section {
    display: flex;
    height: 100vh;
    width: 80vw;
    margin: 0 auto;
    background: var(--transparent-bg-color-lightBlue);
}

.right-section {
    flex: 2;
    display: flex;
    flex-direction: column;
}

.picture-section {
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 10px;
}

.picture-footer {
    color: var(--color-black);
    font-weight: bolder;
    font-style: italic;
    text-shadow: darkmagenta 2px 0 10px;;
}

.picture-footer:hover {
    color: darkorchid;
    text-shadow: 10px 15px;
}

.disclaimer-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 2rem;
}


.form-container {
    display: flex;
    flex-direction: column;
    flex: 2;
}

.form-submit {
    margin-top: 2rem;
}

.disclaimer,
.form-container > p {
    color: var(--color-black);
    font-size: 1.2rem;
    font-weight: bolder;
}

input[type] {
    border-radius: 10px;
}

.sign-up-form {
    display: flex;
    flex-wrap: wrap;
}

.form-submit,
[class^="sign-up-form"] {
    position: relative;
    min-height: 1px;
    padding: 1rem;
    width: 100%;
    max-width: 90%;
}

.reminder-message {
    font-weight: bolder;
    color: var(--color-black);
}

button, input, select {
    font-size: 100%;
    margin: 0;
    max-width: 100%;
    vertical-align: baseline;
}

input {
    outline: none;
}

.sign-up-form input[type="text"],
.sign-up-form input[type="email"],
.sign-up-form input[type="tel"],
.sign-up-form input[type="password"] {
    background-color: var(--color-white);
    border: 1px solid var(--color-black);
    padding: 1.2rem 0.8rem 1rem;
    font-size: 1.2rem;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"] {
    background-color: var(--color-white);
    border: 1px solid var(--color-black);
    padding: 1.2rem 0.8rem 1rem;
    font-size: 1.2rem;
    width: 100%;
    transition: all 0.5s ease-in-out;
}

:focus {
    outline: 0;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
input[type="password"]:focus {
    background-color: var(--color-lightBlue);
}

/* animation */
@keyframes silo-fade {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-1.4em);
        -moz-transform: translateY(-1.4em);
        -ms-transform: translateY(-1.4em);
        -o-transform: translateY(-1.4em);
        transform: translateY(-1.4em);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes silo-help {
    0% {
        opacity: 0;
    }
    4% {
        opacity: 0;
    }
    5% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

/* Label styles */
.sign-up-form label {
    padding: 5px 0;
    font-size: 14px;
    font-size: 0.75rem;
    display: none;
    position: absolute;
    top: 15px;
    left: 26px;
    color: var(--color-blue);
    -webkit-animation: silo-fade 0.2s;
    -moz-animation: silo-fade 0.2s;
    animation: silo-fade 0.2s;
    max-width: 80%;
}

.sign-up-form input:focus +label,
.sign-up-form input[required]:valid + label,
.sign-up-form input:not(:placeholder-shown) + label {
    display: block;
}

.sign-up-form input:invalid {
    border: 1px solid var(--color-invalid-red);
    background-color: var(--transparent-invalid-red)
}

.sign-up-form input:invalid {
    border-color: transparent;
    border: 1px solid var(--color-invalid-red);
}

.sign-up-form input:invalid + label {
    color: var(--color-invalid-red);
}

.sign-up-form input:focus:invalid + label::after {
    content: " (" attr(data-help) ")";
    animation: silo-help 100s;
}

.sign-up-form input:invalid + label::after {
    content: " (" attr(data-help) ")";
}

.sign-up-form input:valid {
    border: 1px solid var(--color-valid-green);
    background-color: var(--transparent-valid-green);
}

.sign-up-form input:focus:valid {
    border: 1px solid var(--color-valid-green);
    background-color: transparent;
}

.sign-up-form input:valid +label {
    color: var(--color-valid-green);
}

.sign-up-form input:placeholder-shown {
    background-color: transparent;
    border: 1px solid var(--color-black);
}

.sign-up-form input::placeholder {
    color: var(--color-darkgrey);
}

.sign-up-form input:focus::placeholder {
    background: transparent;
}

.form-submit input[type="submit"] {
    background-color: transparent;
    border: 1px solid var(--color-black);
    color: var(--color-black);
    padding: 0.5rem 0.8rem;
    font-weight: bolder;
    font-size: 1rem;
    cursor: pointer;
    margin-bottom: 1rem;
}

.form-submit input[type="submit"]:hover {
    background-color: transparent;
    color: var(--color-white);
    border-radius: 10px;
    border: var(--color-blue) 2px solid;
}


.reminder-message a {
    text-decoration: none;
}

.reminder-message a:hover {
    color: var(--color-blue);
}

